body {
  font-family: "Arial", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

.baitingContainer {
    margin: 2rem 106px;
  }
  
h1,
h2 {
  color: #333;
}

section {
  margin: 20px;
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.tip {
  color: #e74c3c;
  font-weight: bold;
  margin-bottom: 0;
}
